---
  layout: default
  title: WebdriverJS - Selenium 2.0 javascript bindings for nodejs
---

{% capture whatIsWebdriverjs %}{% include articles/whatIsWebdriverjs.md %}{% endcapture %}
{% capture howDoesItWorks %}{% include articles/howDoesItWorks.md %}{% endcapture %}
{% capture runYourTestsInTheCloud %}{% include articles/runYourTestsInTheCloud.md %}{% endcapture %}
{% capture install %}{% include articles/install.md %}{% endcapture %}
{% capture writeTests %}{% include articles/writeTests.md %}{% endcapture %}

{% capture easeOfUse %}{% include articles/teaser/easeOfUse.md %}{% endcapture %}
{% capture featureRich %}{% include articles/teaser/featureRich.md %}{% endcapture %}
{% capture compatible %}{% include articles/teaser/compatible.md %}{% endcapture %}
{% capture extendable %}{% include articles/teaser/extendable.md %}{% endcapture %}

<article>
    {{ whatIsWebdriverjs | markdownify }}
</article>

<article class="col2">
    {{ howDoesItWorks | markdownify }}
</article>

<article class="col2 last">
    {{ runYourTestsInTheCloud | markdownify }}
</article>

<aside class="teaser">
    <div class="teaserbox">
        {{ easeOfUse | markdownify }}
    </div>

    <div class="teaserbox">
        {{ featureRich | markdownify }}
    </div>

    <div class="teaserbox">
        {{ compatible | markdownify }}
    </div>

    <div class="teaserbox">
        {{ extendable | markdownify }}
    </div>
</aside>

<article>
    {{ install | markdownify }}
</article>

<article>
    {{ writeTests | markdownify }}
</article>

<article>
    <h2>Examples</h2>
    
    <div class="gist-header">
        <span>BDD/TDD test framework:</span>

        <button data-gist="mocha">Mocha</button>
        <button data-gist="mochachai">Mocha + Chai</button>
        <button data-gist="buster">Buster.JS</button>
        <button data-gist="cucumber">Cucumber</button>
        <button data-gist="jasmine">Jasmine</button>
        <button data-gist="nodeunit">NodeUnit</button>
        <button data-gist="vows">Vows</button>
    </div>
    <div class="gists">
        <div class="mocha show">{% gist 6416885 %}</div>
        <div class="mochachai">{% gist 6416873 %}</div>
        <div class="buster">{% gist 6416851 %}</div>
        <div class="cucumber">{% gist 6417028 %}</div>
        <div class="jasmine">{% gist 6416864 %}</div>
        <div class="nodeunit">{% gist 6416889 %}</div>
        <div class="vows">{% gist 6416899 %}</div>
    </div>
    
</article>