---
  layout: default
  title: WebdriverJS - Selenium 2.0 javascript bindings for nodejs
---

{% capture whatIsWebdriverjs %}{% include whatIsWebdriverjs.md %}{% endcapture %}
{% capture howDoesItWorks %}{% include howDoesItWorks.md %}{% endcapture %}
{% capture runYourTestsInTheCloud %}{% include runYourTestsInTheCloud.md %}{% endcapture %}
{% capture install %}{% include install.md %}{% endcapture %}
{% capture writeTests %}{% include writeTests.md %}{% endcapture %}

{% capture easeOfUse %}{% include teaser/easeOfUse.md %}{% endcapture %}
{% capture featureRich %}{% include teaser/featureRich.md %}{% endcapture %}
{% capture compatible %}{% include teaser/compatible.md %}{% endcapture %}
{% capture extendable %}{% include teaser/extendable.md %}{% endcapture %}

{% capture buster %}{% include examples/buster.md %}{% endcapture %}
{% capture cucumber %}{% include examples/cucumber.md %}{% endcapture %}
{% capture jasmine %}{% include examples/jasmine.md %}{% endcapture %}
{% capture mochaChai %}{% include examples/mochaChai.md %}{% endcapture %}
{% capture mocha %}{% include examples/mocha.md %}{% endcapture %}
{% capture nodeUnit %}{% include examples/nodeUnit.md %}{% endcapture %}
{% capture vows %}{% include examples/vows.md %}{% endcapture %}

<article>
    {{ whatIsWebdriverjs | markdownify }}
</article>

<article class="col2">
    {{ howDoesItWorks | markdownify }}
</article>

<article class="col2 last">
    {{ runYourTestsInTheCloud | markdownify }}
</article>

<aside class="teaser">
    <div class="teaserbox">
        {{ easeOfUse | markdownify }}
    </div>

    <div class="teaserbox">
        {{ featureRich | markdownify }}
    </div>

    <div class="teaserbox">
        {{ compatible | markdownify }}
    </div>

    <div class="teaserbox">
        {{ extendable | markdownify }}
    </div>
</aside>

<article>
    {{ install | markdownify }}
</article>

<article>
    {{ writeTests | markdownify }}
</article>

<article>
    <h2>Examples</h2>
    
    <div class="gist-header">
        <span>BDD/TDD test framework:</span>

        <button data-gist="mocha">Mocha</button>
        <button data-gist="mochachai">Mocha + Chai</button>
        <button data-gist="buster">Buster.JS</button>
        <button data-gist="cucumber">Cucumber</button>
        <button data-gist="jasmine">Jasmine</button>
        <button data-gist="nodeunit">NodeUnit</button>
        <button data-gist="vows">Vows</button>
    </div>
    <div class="gists">
        <div class="mocha show">{{ mocha | markdownify }}</div>
        <div class="mochachai">{{ mochaChai | markdownify }}</div>
        <div class="buster">{{ buster | markdownify }}</div>
        <div class="cucumber">{{ cucumber | markdownify }}</div>
        <div class="jasmine">{{ jasmine | markdownify }}</div>
        <div class="nodeunit">{{ nodeUnit | markdownify }}</div>
        <div class="vows">{{ vows | markdownify }}</div>
    </div>
    
</article>