// import compass plugins
@import "compass/reset/utilities";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/utilities/sprites";

// reset CSS before including inform styles
@include global-reset();

// import utilities
@import "utils/vars";
@import "utils/fonts";
@import "utils/sprites";

// import components
@import "components/container";
@import "components/columns";
@import "components/article";
@import "components/syntax";
@import "components/headings";
@import "components/links";
@import "components/button";

// import modules
@import "modules/header";
@import "modules/social";
@import "modules/footer";
@import "modules/teaser";
@import "modules/commandList";

// general styles
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $bodyBackground;
    font-family: $fontRegular;
    font-size: 16px;
    color: $textColor;
    line-height: 1.3em;
}

.cloudLink {
    font-size: 0;
    color: transparent;
    width: 31%;
    display: block;
    float: left;
    margin: 10px 1.5% 0;

    &.sauce              { @extend .sprite-sauce-labs-logo-sw; margin-left: 0; }
    &.sauce:hover        { @extend .sprite-sauce-labs-logo }
    &.browserstack       { @extend .sprite-browserstack-logo-sw }
    &.browserstack:hover { @extend .sprite-browserstack-logo }
    &.testingbot         { @extend .sprite-testingbot-logo-sw }
    &.testingbot:hover   { @extend .sprite-testingbot-logo }
}
img[alt="TestingBot"] {
    margin-right: 0;
}

strong {
    font-family: $fontBold;
}

[class*="icon-"]:before,
[class*="icon-"]:after {
  font-family: 'FontAwesome', sans-serif;
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}