footer {
    width: 100%;
    border-bottom: $headerTopBorder solid $orange;
    height: $headerHeight;
    background: $headerBackground;
    color: $footerFontColor;
    font-size: 0.8em;

    .twitterLink {
        @include border-radius(100px);
        width: 50px;
        height: 50px;
        display: block;
        float: left;
        margin: 10px 20px 0 0;
        overflow: hidden;


        img {
            width: 100%;
        }
    }

    cite {
        display: block;
        clear: both;
        text-align: center;
        padding-top: 90px;
        overflow: hidden;

        em {
            color: $heartColor;
            padding: 0 2px;
        }

        a {
            text-decoration: none;
        }
    }
}