header {
    max-width: 100%;
    border-top: $headerTopBorder solid $orange;
    height: $headerHeight - 20px;
    background: $headerBackground;
    padding-top: 20px;

    .container {
        position: relative;
        background: image-url("webdriver-robot.png") 81.12% 25px no-repeat;
        overflow: hidden;
        height: 100%;

        .hero {
            display: block;
            text-decoration: none;
            width: 470px;
            margin: 20px 20px 0 0;

            h1 {
                font-size: $headerLogoFontSize;
                color: $headerFontColor;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.1em;
                line-height: 0.92em;
            }
        }

        .link {
            @extend .button;
            width: $naviWidth;
            height: $naviHeight;
            display: block;
            float: left;
            margin: 248px 20px 0 0;
            text-align: center;
            font-size: 1.15em;
            line-height: 2.5em;
            letter-spacing: 0.03em;

            &.last {
                margin-right: 0;
            }
        }

        aside {
            margin-top: 120px;
            color: $white;

            li {
                margin-top: 18px;
                letter-spacing: -0.4px;

                span {
                    color: green;
                    margin-right: 5px;
                    font-size: 20px;
                }

                a {
                    text-decoration: none;
                }
            }
        }

        .col2:first-child {
            width: 50%;
            padding-right: 0;
        }
    }
}