<!DOCTYPE html>

<title>{{ page.title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="canonical" href="http://webdriver.io{{ page.url | replace:'index.html','' }}" />
<link rel="shortcut icon" href="/favicon.ico" />

<link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />

<header>
    <div class="container">
        <a href="http://webdriver.io" class="hero"><h1>WebdriverJS</h1></a>
        <a href="home.html" class="link">Get Started</a>
        <a href="docs.html" class="link last">API Documentation</a>
    </div>
</header>

<section>
    <div class="container">
        {{content}}
    </div>
</section>

<section class="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="bromann" data-hashtags="webdriverjs">Tweet</a>
    <g:plusone size="medium"></g:plusone>
    <div class="fb-like" data-send="false" data-width="50" data-show-faces="false" data-font="arial" data-layout="button_count" data-action="like"></div>
</section>

<footer>
    <div class="container">
        <article class="col2">
            <p>This project is maintained by:</p>
            <a class="twitterLink" href="http://twitter.com/bromann" title="Christian Bromann"><img src="https://si0.twimg.com/profile_images/1806512295/profil.png" alt="@bromann"></a>
            <a class="twitterLink" href="http://twitter.com/zeroload" title="Camilo Tapia"><img src="https://pbs.twimg.com/profile_images/2286596117/ytzrxwusil1poelysdsx_bigger.jpeg" alt="@camilotapia"></a>
            <a class="twitterLink" href="http://twitter.com/camilotapia" title="Camilo Tapia"><img src="https://si0.twimg.com/profile_images/2675987215/e8f89a3b4ea11fa934e9339a3bdb575f.jpeg" alt="@camilotapia"></a>
            <a class="twitterLink" href="http://twitter.com/dan_jenkins" title="Dan Jenkins"><img src="https://si0.twimg.com/profile_images/1596625556/silhouette.png" alt="@dan_jenkins"></a>
        </article>
        <cite>Made with <em>♥</em> by <a href="http://anton-meier.de/" target="_blank">Anton Meier</a></cite>
    </div>
</footer>

<div id="fb-root"></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(){var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="/scripts/app.js"></script>